body {
    background-color: rgb(133, 31, 31);
}

header {
    color: whitesmoke;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    font-weight: bold;
  }
p {
    color: whitesmoke;
    margin-left: 20px;
  }

div.dice{
	float:left;
	width:500px;
	background:#ffffff;
	border:rgb(0, 0, 0)x solid;
	padding:30px;
	font-size:500px;
	text-align:center;
	margin:5px;
}

h {
    font-size: xx-large;
}